div{

}
.panel-default > .panel-heading-custom {
    background: red!important; color: black;
}

.panel-content-success {
    background-color: #5cb85c;
}

.panel-content-danger {
    background-color: black;
}

.notice-default {
    background: transparent;
    border-color: grey;
}
.container-fluid{
    background-color: #afd9ee;
}
.row{
    color: #080808;
}

#weekend {
    padding-right: 200px;
    padding-left: 100px;
}

/*.panel-heading {*/
    /*background-image: -webkit-linear-gradient(top,yellow 0, #dbff46 100%);*/
    /*border-color: #F6E3CE !important;*/
/*}*/


h1 {
   font-family: "Century Gothic";
   background-color: #f8f8f8;
}

h2 {
    font-family: "Century Gothic";
    font-style: italic;
    background-color: #269abc;
    color: #f8f8f8;
}


footer {
    background-color: #c7ddef;
    height: 50px;
    font-size: medium;
    font-style: oblique;
    font-family: "Century Gothic";
}
