html{
    background-color: white;
}
div{
    background-color: white;
}
.panel-default > .panel-heading-custom {
    background: red!important; color: black;
}

.panel-content-success {
    background-color: #5cb85c;
}

.panel-content-danger {
    background-color: black;
}

.notice-default {
    background: transparent;
    border-color: grey;
}

.container-fluid{
    background-color: white;
}

.row{
    color: #080808;
}

.my-chart {
    background-image: repeating-radial-gradient(cornflowerblue, white);
    height: 400px;
}

#weekend {
    padding-right: 200px;
    padding-left: 100px;
}

h1 {
   font-family: "Century Gothic";
    font-style: normal;
    color: black;
   background-image: linear-gradient(silver,#d9edf7);
}

h2 {
    font-family: "Century Gothic";
    font-style: italic;
    background-color: #269abc;
    color: #f8f8f8;
}


footer {
    background-image: linear-gradient(silver,#d9edf7);
    height: 50px;
    font-size: medium;
    font-style: oblique;
    font-family: "Century Gothic";
}

p {
    font-style: normal;
    min-height: 25px;
    max-height: 40px;
}

.refreshpg{
    font-family: "Century Gothic";
    font-style: italic;
    font-size: large;
    background-image: linear-gradient(silver,#d9edf7);
    color: white;
}

